.type-nav-cart {
  height: auto;
  overflow: hidden;
  .under-content {
    display: none;
  }
}
.services-section{
  &.services-section-cart {
    border: none;
    padding: 0;
  }

  .special-offers-section {
    .title {
      text-transform: uppercase;
    }
  }
}
.cart-preffoter {
  padding: 16px 0 0;
  background: url("../images/product-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  .preffoter-content-bg {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 235px;

    .wrapper {
      max-width: 100%;
      padding: 0;
    }
  }

  .width-content {
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
  }

  .main-block {
    clear: both;
    .row {
      overflow: hidden;
    }
  }
  .product-item {

    li {
      display: block;
      overflow: hidden;
      max-height: 45px;
      border: 1px solid #fff;
      .title {
        float: left;
        padding: 10px;
        background-color: #515151;
        border-right: 2px solid #fff;
        .head {
          color: #ffffff;
          font: 700 22px / 24px $Arial;
          text-transform: uppercase;
        }
      }

      .content {
        p, a, span {
          overflow: hidden;
          color: #ffffff;
          font: 400 17px / 20px $Arial;
        }

        p {
          padding: 10px;
        }
      }
    }

    .product-number,
    .product-date,
    .product-name,
    .product-email {
      .title {
        width: 30%;
      }
    }

    .product-quantity,
    .product-total-price,
    .product-pdf-file {
      .title {
        width: 52%;
      }
    }

    .product-pdf-file {
      .content  {
        a {
          display: block;
          max-width: 80px;
          margin: 0 auto;
          padding: 2px 5px;
          text-align: center;
          border-radius: 4px;
          border: 1px solid #723b0b;
          background-image: linear-gradient(to top, #b54209 0%, #f36e16 100%);
        }
      }
    }
  }
}