.type-nav-contact-us {
	height: auto;
	overflow: hidden;
	.desctop-services-menu {
		display: none;
	}
}
.services-section{
	&.services-section-contact-us {
		border: none;
		padding: 0;

		.title-block {
			.title {
				text-transform: uppercase;
			}
		}
	}
}

.contact-us-preffoter {
	background-image: url("../images/gray-pages-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.preffoter-content-bg {
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		padding-bottom: 0;

		.contact-block {
			max-width: 630px;
			margin: 37px auto 30px;

			.contact-row {
				overflow: hidden;
				margin: 15px auto;

				.edit-customize {
					float: right;
				}

				.customize{
					clear: both;
				}

				.img-wrapper {
					float: left;
					width: 31px;
					height: 30px;
					margin: 0 10px 0 0;
					overflow: hidden;

					img {
						max-width: 100%;
						height: auto;
					}
				}

				.title {
					overflow: hidden;
					color: #292929;
					font: 400 22px / 28px $Arial;

					a {
						color: #292929;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		.social-block {
			overflow: hidden;
			margin: 50px auto;

			.social-list {
				overflow: hidden;
				width: 80%;
				margin: 0 auto;

				& >	li {
					width: 50%;
					overflow: hidden;
					float: left;
					.first {
						float: left;
					}

					.second {
						float: right;
					}
					.first,
					.second {
						width: 50%;
						li {
							display: block;
							margin: 15px 0;

							.icon {
								display: block;
								width: 50%;
								float: left;

								.fa {
									color: #000000;
									font-size: 25px;
								}
							}
						}
					}
				}
			}
		}

		.map-address {
			display: block;
			margin: 0 0 60px 0;
			color: #d55910;
			font: 700 25px / 28px $Arial;
			text-decoration: underline;
		}
		.map-direction-block {
			overflow: hidden;
			margin: 0 auto 32px;
			padding: 13px 0;
			background: rgba(0, 0, 0, 0.4);
			border-top: 1px solid rgba(255, 255, 255, 0.3);
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: -80px;
				width: 140px;
				height: 100%;
				z-index: 0;
				background: -prefix-linear-gradient(left, rgba(255,255,255,0.5),
					rgba(255,255,255,0.003));

				background: linear-gradient(to right, rgba(255,255,255,0.5),
					rgba(255,255,255,0.003));
				-webkit-filter: blur(20px);
				-moz-filter: blur(20px);
				-o-filter: blur(20px);
				-ms-filter: blur(20px);
				filter: blur(20px);

			} 
		}

		.mapWrapper {
			display: none;
		}
	}
}