header  {
	position: relative;
	// background-color: #efefef;
	z-index: 9;


	.logo {
		margin: 0 auto 10px;
		padding: 10px 0 0;
		text-align: center;
		width: 54px;
		height: 56px;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.shop-name {
		margin: 0 auto 10px;
		text-align: center;
		color: #c76666;
		font: 700 39px / 42px $Arial;
		text-transform: uppercase;
	}

	.line {
		width: 100%;
		height: 2px;
		background-color: #fff;
		border-top: 1px solid #c5c5c5;
	}

	.navigation-block {
		padding: 15px 0 6px;
		overflow: hidden;
		background-color: transparent;
	}

	.basket-wrapper {

		.item-count {
			float: left;
			margin: 4px 15px 0 0;
			
			a {
				color: #de5f12;
				font: 700 24px / 26px $Arial;
			}

			&.items-there {
				a {
					color: #c76666;
				}
			}
		}
		.basket-icon {
			margin: 2px 0 0 0;
		}
	}
	.add-product-mobile {
		width: 230px;
		height: 35px;
		margin: 20px 0;
		overflow: hidden;
		border-radius: 4px;
		border: 1px solid #723b0b;
		background-image: linear-gradient(to top, #b54209 0%, #f36e16 100%);

		a {
			float: left;
			margin: 0 0 0 19px;
			text-align: center;
			color: #ffffff;
			font: 700 24px / 35px $Arial;
		}
	}
}
.login-page-inside {
	height: auto;
	background-size: cover;
	box-shadow: 0 3.5px 4px rgba(0, 0, 0, 0.2);

	.header-top {
		height: 65px;
		background: url('../images/header-bg.jpg');
		background-size: cover;
	}

	.logo-block {
		margin: 0 auto;
		padding: 10px 0 0;
		text-align: center;
		width: 175px;
		text-align: left;

		.logo-title {
			color: #ffffff;
			font: 500 23px / 25px $Arial;

			a {
				color: #ffffff;
			}
		}

		.logo-sign {
			color: #ffffff;
			font: 300 13px / 18px $Arial;

			a {
				color: #ffffff;
			}
		}
	}

	.header-logo-block {
		background-color: #fff;
		text-align: center;
		overflow: hidden;

		.company-logo {
			margin: 7px auto 8px;
			color: #000101;
			font: 100 30px / 30px $HelveticaNeueLTPro;

			a {
				color: #000101;
				text-decoration: none;
				&:link,
				&:active {
					color: #000101;
				}
			}
		}

		.color-list {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			background-color: #cacaca;
			overflow: hidden;
			font-size: 0;

			li {
				display: inline-block;
				width: 45px;
				height: 3px;
				margin: 0 -3px;
			}

			.color-1 {
				background-color: #ffaa01;
			}
			.color-2 {
				background-color: #1a999e;
			}
			.color-3 {
				background-color: #f5de0a;
			}
			.color-4 {
				background-color: #e95e38;
			}
		}
	}
}