/*SECTION TYPE NAV*/
.type-nav {
	position: relative;
	
	.desctop-block {
		display: none;
	}

	.under-content {

		.navigation-menu {
			@include border-box;
			margin: 0 auto;
			text-align: center;

			& > li {
				display: block;
				margin: 5px auto;
				text-align: left;
				padding: 9px 0 9px 25px;
				background: rgba(0, 0, 0, 0.4);

				&.desctop {
					display: none;
				}

				&.more-menu {
					position: relative;

					.icon-more {
						float: right;
						width: 15px;
						height: 15px;
						background: #fff;
						margin: 5px 25px 0 10px;
						text-align: center;

						.fa {
							font-size: 29px;
							line-height: 15px;
							float: left;
							font-weight: 500;
							text-align: center;
						}

						.fa-angle-right {
							color: rgba(0, 0, 0, 0.4);
							margin: -1px 0 0 3px;
						}
					}

					.more-active {
						background: #c76666;
						.fa-angle-down {
							margin: 0;
							font-size: 25px;
							color: #fff;
						}
					}

					.submenu {
						position: absolute;
						display: none;
						width: 320px;
						margin: 0;	

						&.visible {
							display: block;
							top: 42px;
							right: 0;
							padding-top: 8px;
							z-index: 2;
							background: rgba(0, 0, 0, 0.9);
						}


						li {
							display: block;
							margin: 5px 0;
							text-align: right;

							a {
								display: block;
								width: 100%;
								height: 100%;
								position: relative;
								padding: 9px 15px 9px 25px;
								color: #fff;
								font: 400 18px / 25px $Arial;
								text-transform: uppercase;
								@include transition;
								@include border-box;

								&:hover {
									color: #c76666;
									background: rgba(0, 0, 0, 0.7);
								}
							}

							/*.submenu-item-active {
								color: #c76666;
								background: rgba(0, 0, 0, 0.7);
								}*/
							}
						}
					}
				}

				a {
					color: #ffffff;
					font: 700 24px / 26px $Arial;
					text-transform: uppercase;
				}
			}


		}
	}
	/*END SECTION TYPE NAV*/
	/*SERVICES SECTION*/
	.services-section {
		background-image: url("../images/product-bg.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-bottom: 7px solid #ffffff;

		.special-offers-desctop,
		.services-list,
		.list-of-qualities {
			display: none;
		}

		.special-offers-section {
			.title-block {
				width: 100%;
				overflow: hidden;
				margin: 0 auto;
				padding: 25px 0;
				text-align: center;
				background: #f3f3f3;
				position: relative;

				.title {
					display: inline-block;
					color: #969696;
					font: 700 25px / 26px $Arial;
				}
				.edit-title {
					display: inline-block;
					margin: 0 0 0 10px;
				}
			}

			.special-offers-slider {
				margin: 20px auto;
				overflow: hidden;

				* {
					outline: none;
				}

				.slider-item {
					position: relative;
					@include transition;
					margin-right: 20px;



					.img-wrapper {
						width: 227px;
						height: 304px;
						position: relative;
						overflow: hidden;

						img {
							width: auto;
							height: 100%;
						}
						.edit-big {
							position: absolute;
							top: 10px;
							right: 15px;
							z-index: 2;
						}


						.item-title {
							width: 100%;
							position: absolute;
							left: 0;
							bottom: 0;
							padding: 15px 0 14px;
							background: rgba(0, 0, 0, 0.6);
							text-align: center;
							margin: 0 auto;
							overflow: hidden;

							span {
								color: white;
								font: 700 13px / 15px $Arial;
							}

							.edit-title {
								float: right;
								margin: 0 5px 0 0;
								display: none;
							}
						}
					}

					.price-block {
						overflow: hidden;
						margin: 0 auto;
						padding: 8px 0 7px;
						text-align: center;
						background-color: #979797;
						color: #fff;
						font-family: "Arial", sans-serif;
						font-weight: 400;

						.dollar,
						.sub-price {
							font-size: 11px;
						}

						.main-price {
							font-size: 17px;
						}

						.edit-title {
							float: right;
							margin: 0 5px 0 0;
							display: none;
						}
					}
				}
			}
		}
	}
	/*END SERVICES SECTION*/
	/*PREFFOTER SECTION*/
	.preffoter-section {
		position: relative;
		background-image: url("../images/welcome-bg.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		overflow: hidden;

		.welcome-title {
			overflow: hidden;
			margin: 27px auto 18px;
			text-align: center;
			span {
				color: #5a5a5a;
				font: 700 30px / 33px $Arial;
			}
			.edit-title {
				float: right;
			}
		}

		.for-edit-cotent {
			overflow: hidden;
			.edit-title {
				float: right;
			}
			p {
				clear: both;
				margin: 0 auto 20px;
				color: #5a5a5a;
				font: 400 18px / 22px $Arial;
				text-align: justify;
				word-break: break-word;
			}
		}

		.for-seo-toolbar {
			margin: 20px auto 45px;
			.seo-toolbar-title {
				margin: 0 auto;
				text-align: center;
				color: #0c0c0c;
				font: 400 26px / 28px $Arial;
			}

			.seo-toolbar-list {
				margin: 0 auto;
				text-align: center;

				li {
					display: block;
					margin: 25px auto;

					a {
						width: auto;
						padding: 8px 15px;
						color: #ffffff;
						font: 400 16px / 22px $Arial;
						border-radius: 4px;
						border: 1px solid #723b0b;
						background-image: linear-gradient(to top, #b54209 0%, #f36e16 100%);
					}
				}
			}
		}

		.position-block {
			position: relative;
			background: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			display: none;

			.footer-main-menu,
			.footer-services-menu {
				display: none;
			}
		}
	}
/*END PREFFOTER SECTION*/