.type-nav-product-page {
	height: auto;
	overflow: hidden;

	.full-img {
		height: 600px;
	}
	.under-content {
		display: none;
	}
}

.page-of-products {
	border: none;
	padding: 0;
	background-image: url("../images/gray-pages-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.special-offers-desctop {
		display: block;
		overflow: hidden;

		.wrapper {
			max-width: 100%;
			padding: 0;
		}

		.special-offers-list {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			display: flex;
			justify-content: space-between;
			margin: 2px auto 0;
			text-align: center;
			@include border-box;
			overflow: hidden;

			li {
				position: relative;
				@include transition;
				margin: 2px 0;

				&:nth-child(n+9) {
					display: none;
				}


				.img-wrapper {
					width: 158px;
					height: 211px;
					position: relative;
					overflow: hidden;

					img {
						width: auto;
						height: 100%;
						display: block;
						margin: 0 auto;
						text-align: center;
					}

					.edit-big {
						position: absolute;
						top: 10px;
						right: 15px;
						z-index: 2;
					}


					.item-title {
						width: 100%;
						position: absolute;
						left: 0;
						bottom: 0;
						padding: 15px 1px 14px;
						background: rgba(0, 0, 0, 0.6);
						text-align: center;
						margin: 0 auto;

						color: white;
						font: 700 11px / 15px $Arial;
					}
				}

				.price-block {
					margin: 0 auto;
					padding: 8px 0 7px;
					text-align: center;
					background: #c66666;
					color: #fff;
					font-family: "Arial", sans-serif;
					font-weight: 400;

					.dollar,
					.sub-price {
						font-size: 11px;
					}

					.main-price {
						font-size: 17px;
					}
				}
			}
		}

		.more-btn {
			display: block;
			margin: 20px auto;
			text-align: center;
			color: #d55910;
			font: 700 18px / 22px $Arial;
			text-transform: uppercase;
		}
	}
}