.login-bg {
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-image: url("../images/gray-pages-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.wrapper {
	max-width: 1010px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
input {
	outline: none;
}
a {
	text-decoration: none;
}

// HEADER FOR LOGIN PAGE
.login-page {
	left: 0;
	top: 0;
	width: 100%;
	position: fixed;
	height: auto;
	background-size: cover;
	box-shadow: 0 3.5px 4px rgba(0, 0, 0, 0.2);

	.header-top {
		height: 65px;
		background: url('../images/header-bg.jpg');
		background-size: cover;
	}
	.header-logo-block {
		background-color: #fff;
		text-align: center;
		overflow: hidden;

		.company-logo {
			margin: 7px auto 8px;
			color: #000101;
			font: 100 30px / 30px $HelveticaNeueLTPro;

			a {
				color: #000101;
				text-decoration: none;
				&:link,
				&:active {
					color: #000101;
				}
			}
		}

		.color-list {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			background-color: #cacaca;
			overflow: hidden;
			font-size: 0;

			li {
				display: inline-block;
				width: 45px;
				height: 3px;
				margin: 0 -3px;
			}

			.color-1 {
				background-color: #ffaa01;
			}
			.color-2 {
				background-color: #1a999e;
			}
			.color-3 {
				background-color: #f5de0a;
			}
			.color-4 {
				background-color: #e95e38;
			}
		}
	}

	.logo-block {
		margin: 0 auto;
		padding: 10px 0 0;
		text-align: center;

		.logo-title {
			color: #ffffff;
			font: 500 23px / 25px $Arial;

			a {
				color: #ffffff;
			}
		}

		.logo-sign {
			color: #ffffff;
			font: 300 13px / 18px $Arial;

			a {
				color: #ffffff;
			}
		}
	}
}
// MAIN CONTENT FOR LOGIN PAGE
.login-page-content {
	overflow: hidden;

	.login-block {
		max-width: 670px;
		width: 100%;
		overflow: hidden;
		padding: 0 30px 0 29px;
		@include border-box;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: bounceIn;
		-webkit-animation-fill-mode: both;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: linear;
		-moz-animation-name: bounceIn;
		-moz-animation-fill-mode: both;
		-moz-animation-duration: 1s;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: linear;
		animation-name: bounceIn;
		animation-fill-mode: both;
		animation-duration: 1s;
		animation-iteration-count: 1;
		animation-timing-function: linear;

		@media (max-width: 920px) {
			padding: 25% 30px 0 29px;
		}
		#login-form {
			width: 100%;
			@include border-box;
			.form-row {
				margin-bottom: 15px;

				label {
					display: block;
					margin: 5px 0;
					color: #8b8b8b;
					font: 700 24px / 26px $Arial;
				}


				#login,
				#password {
					height: 45px;
					padding-left: 10px;
					border-radius: 4px;
					border: 1px solid #a1a1a1;
					background-color: #dfdfdf;
					font: 400 20px / 45px $MyriadPro;
				}

				#login,
				#password,
				#sign-in {
					display: block;
					width: 100%;
					@include border-box;
				}
				.save-password-container {
					overflow: hidden;

					label {
						color: #8b8b8b;
						font: 400 18px / 20px $Arial;
						cursor: pointer;
					}

					#save-password {
						display: none;
					}
					.checkbox-custom {
						position: relative;
						float: left;
						width: 14px;
						height: 14px;
						margin: 0 10px 0 0;
						background-color: gainsboro;
						border: 1px solid #828282; 
						cursor: pointer;
					}
					#save-password:checked + .checkbox-custom::before {
						content: "";             
						display: block;          
						position: absolute;      
						top: 2px;
						right: 2px;
						bottom: 2px;
						left: 2px;

						background: #413548;     
					}
				}
				.forgot-password {
					display: block;
					overflow: hidden;
					margin: 20px 0 0 25px;
					color: black;
					font: 400 18px / 22px $Swiss721BT;
					@include transition;

					&:hover {
						color: #565656;
					}
				}
				#sign-in {
					float: right;
					width: 85px;
					height: 30px;
					margin: 33px auto 0;
					border: inherit;
					text-align: center;
					color: #ffffff;
					font: 400 16px / 27px $Arial;
					border-radius: 4px;
					border: 1px solid #723b0b;
					background-image: linear-gradient(to top, #b54209 0%, #f36e16 100%);
					cursor: pointer;
					@include transition;

				}
			}
		}
	}
}
// FOOTER FOR LOGIN PAGE
.footer-login {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: dimgrey;
	box-shadow: -2.1px 2.1px 4px rgba(0, 0, 0, 0.2);

	.copyright {
		margin: 0 auto;
		padding: 0;
		text-align: center;

		h4 {
			color: #fff;
			font: 400 13px / 24px $MyriadPro;
			a {
				color: #fff;
			}
		}
	}
}
// MEDIAQUERIES
@media (min-width: 480px) {
	.login-block {
		#login-form {
			.form-row {
				.save-password-container {
					float: left;
					min-width: 185px;
				}
			}
		}
	}
	.login-page-content {
		.login-block {
			#login-form {
				.form-row {
					.forgot-password {
						margin: 0 0 0 15px;
						padding: 5px 0 0;
					}
				}
			}
		}
	}
}
@media (min-width: 560px) {

	.login-page {

		height: 61px;
		.logo-block {
			padding: 10px 0 0;

			// .logo-title {
			// 	font: 400 24px/28px "HelveticaNeueCyr", sans-serif;
			// }

			// .logo-sign {
			// 	font: 400 15px/17px "HelveticaNeueCyr", sans-serif;
			// }
		}
	}

	.login-page-content {
		.login-block {
			#login-form {
				.form-row {
					.save-password-container {
						min-width: 130px;
						margin: 5px 0 0 0;

						.checkbox-custom {
							width: 16px;
							height: 16px;
							margin: 4px 6px 0 0;
						}

						label {
							font: 600 14px/16px "Open Sans", sans-serif;
						}
					}
				}
			}
		}
		.login-block {
			#login-form {
				.form-row {
					.forgot-password {
						float: left;
						margin: 5px 0 0 5px;
						font: 600 14px/25px "Open Sans", sans-serif;
					}
					#sign-in {
						margin: 0 auto;
						clear: both;
					}
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	.login-page {
		.logo-block {
			.logo-title {
				text-align: left;
			}
			.logo-sign {
				text-align: left;
			}
		}
	}
	.login-page-content {
		.login-block {
			overflow: hidden;
			#login-form {
				.form-row {
					overflow: hidden;
					label {
						float: left;
					}
					&:first-of-type {
						label {
							margin: 5px 0 0 45px;
						}
					}
					&:nth-of-type(2) {
						margin-top: 35px;
					}
					&:nth-of-type(3) {
						width: 470px;
						float: right;
					}

					#login,
					#password {
						float: right;
						width: 470px;
					}
					.save-password-container {
						label {
							margin: 3px 0 0;
							font-size: 18px;
							line-height: 20px;
						}
					}
				}
			}
		}
	}
}