@media (min-width: 425px) {
	.cart-preffoter {
		.product-item {
			.product-remove {
				margin: -85px 5px 0 0;

				a {
					.mobile-img {
						margin: 5px 15px 0 0;
					}
				}
			}
		}
	}
}
/*--------------------*/
@media (min-width: 480px) {
	.page-of-products {
		.special-offers-desctop {
			.special-offers-list {
				li{
					&:nth-child(n+9) {
						display: inline-block;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	header {
		#search-form {
			max-width: 100%;
			width: 600px;
		}
	}

	.type-nav-polices {
		.full-img {
			height: 530px;
		}
	}
	.type-nav-about-page {
		.full-img {
			height: 530px;
		}
	}
	.type-nav-contact-us {
		.full-img {
			height: 530px;
		}
	}

	.page-of-products {
		.special-offers-desctop {

			.wrapper {
				max-width: 1030px;
				padding: 0 15px;
			}

			.special-offers-list {
				li {
					margin: 20px 0;

					.img-wrapper {
						width: 213px;
						height: 320px;
					}
				}
			}
		}
	}
	/*single product page*/
	.services-section {
		&.services-section-single-product-page {
			.special-offers-section {
				.title-block {
					.mobile {
						display: none;
					}
					.desctop {
						display: block;
					}
				}
			}
		}
	}
	.single-product-page-preffoter {
		.preffoter-content-bg {

			.back-block {
				display: block;
				overflow: hidden;
				img {
					display: block;
					float: left;
					margin: 4px 0 0 0;
				}

				a {
					float: left;
					margin: 0 0 0 12px;
					color: #bfbfbf;
					font: 700 26px / 28px $Arial;
				}
			}
			.for-product-name-title {
				.white-edit-title {
					.white-edit {
						img {
							filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
							-webkit-filter: grayscale(0%);
						}
					}
				}
				.product-name {
					margin: 0 auto;
					text-align: center;
				}
			}

			.single-product-slider {
				margin: 20px 0;

				#thumbnail-slider {
					display: block;
					float: left;
					height: 595px;

					#thumbnail-slider-prev, 
					#thumbnail-slider-next {
						height: 15px;
						line-height: 15px;
						background: rgba(46,46,46, 0.8);

						&:before {
							border-width: 1px;
						}
					}
					#thumbnail-slider-prev {
						&:before {
							top: 5px
						}
					} 
					#thumbnail-slider-next {
						:before  {
							bottom: 5px;
						}
					}

					ul {
						li{
							&:hover {
								border-color: rgba(46,46,46, 0.8);
							}
							&.active {
								border-color: rgba(46,46,46, 0.8);
							}

							.edit-thubnail {
								position: absolute;
								top: 5px;
								right: 5px;
								z-index: 2;
							}

							&:first-child {
								.edit-thubnail {
									top: 25px;
								}
							}
						}
					}
				}
				#ninja-slider {
					width: 420px;
					height: 595px;
					margin: 0 auto;
					ul {
						width: 420px !important;
						height: 595px !important;
					}
				}
			}

			.navigation {
				margin: 0 auto 40px;

				.wrapper {
					max-width: 1030px;
					padding: 0 15px;
				}

				.customize-nav {
					flex-flow: row;
					.size-number-block {
						width: 50%;
					}
					.price-block {
						width: 50%;
					}
				}
			}
		}
	}
	.type-nav-single-product-page {
		.full-img {
			height: 1000px;
		}
	}

	/*cart page*/
	.cart-preffoter {
		.preffoter-content-bg {
			padding: 35px 0 40px;
			margin: 40px auto 50px;
		}
		.product-item {
			.product-remove {
				margin: -65px 5px 0 0;
			}
		}
	}
	/*------------------*/
	.page-of-products {
		.special-offers-desctop {
			.special-offers-list {
				li {
					.img-wrapper {
						.overflow-block {
							height: 86.5%;
						}
					}
				}
			}
		}
	}
	.preffoter-section {
		.for-seo-toolbar {
			.seo-toolbar-list {
				li {
					display: inline-block;
				}
			}
		}
	}

}
@media (min-width: 1024px) {

	.login-page-inside {
		.logo-block {
			float: left;
			text-align: left;

			.logo-title {
				text-align: left;
			}
		}

		.settings-block {
			float: right;

		}
	}
	/*Header*/
	.dropdovn-menu-mobile {
		display: none;
	}
	header {
		.add-product-mobile {
			display: none;
		}

		.navigation-block {
			padding: 2px 0;
		}


		.basket-wrapper {
			float: right;
			margin: 80px 10px 10px 0;
		}

		.button_container {
			display: block;
			right: 26px;
		}
		.overlay {
			background: none;
			top: -44px;
			left: auto;
			right: 0;
			width: 321px;

			&.open {
				right: 15px;
				&:before {
					background: #efefef;
				}
			}

			nav {
				width: 320px;
				background-color: transparent;
			}
		}

		.overlay-menu {
			background-color: transprent;
			top: 40px;
			.mobile-services,
			.mobile-main-menu {
				display: none;
			}

			.desctop {
				display: block;
				width: 100%;
				margin: 0;	

				li {
					a {
						position: relative;
						padding-right: 28px;
						color: #fff;
						font: 400 18px / 35px $Arial;
						text-transform: uppercase;
						background-color: rgba(0, 0, 0, 0.8);
						@include transition;
						border-top: 1px solid rgba(255, 255, 255, 0.4);

						&:hover {
							color: #c76666;

							&:before {
								content: "";
								position: absolute;
								left: 0;
								top: 0;
								width: 75%;
								height: 100%;
								background: -prefix-linear-gradient(left, rgba(255,255,255,0.15),
									rgba(255,255,255,0.003));

								background: linear-gradient(to right, rgba(255,255,255,0.15),
									rgba(255,255,255,0.003));
							}
						}
					}

					.overlay-menu-item-active {
						color: #c76666;
						&:before {
							content: "";
							position: absolute;
							left: 0;
							top: 0;
							width: 75%;
							height: 100%;
							background: -prefix-linear-gradient(left, rgba(255,255,255,0.15),
								rgba(255,255,255,0.003));

							background: linear-gradient(to right, rgba(255,255,255,0.15),
								rgba(255,255,255,0.003));
						}

					}
				}
			}
		}
	}
	/*------------------------*/
	/*Type nav*/
	.type-nav {
		// max-height: 800px;
		max-height: 617px;
		overflow: visible;

		&.type-nav-home-page {
			.full-img {
				height: 1120px;
				&.home-brand {
					.full-width-img {
						top: 35%;
					}
				}
			}

		}

		.full-img {
			height: 1120px;
		}

		.desctop-services-menu {
			@include border-box;
			margin: 0 auto;
			text-align: center;
			background-color: #575757;
		}

		.under-content {
			padding: 0;
			.navigation-menu {
				max-width: 1030px;
				width: 100%;
				margin: 0 auto;
				padding: 3px 15px;
				background-color: #575757;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				li {
					display: inline-block;
					margin: 0;
					text-align: left;
					padding: 0;
					background: transparent;

					&.desctop {
						display: inline-block;
						border-radius: 4px;
						padding: 0 13px;
						color: #ffffff;
						font: 700 24px / 26px $Arial;
						border: 1px solid #723b0b;
						background-image: linear-gradient(to top, #b54209 0%, #f36e16 100%);

						a {
							text-transform: none;
							letter-spacing: 1px;
						}
					}

					a {
						position: relative;
						display: block;
						width: 100%;
						height: 100%;
						padding: 10px 10px 11px;
						cursor: pointer;
						color: white;
						font: 700 20px / 22px $MyriadPro;
						letter-spacing: 3px;
						@include transition;
						@include border-box;

						span {
							position: relative;
							z-index: 2;
						}

						&:hover {
							color: #c76666;
						}


					}
					&.more-menu {
						.submenu {
							&.visible {
								top: 48px;
							}
						}
					}
				}

				.active-toggle {
					& > a {
						color: #c76666;
					}
				}

			}
		}

		.desctop-block {
			display: block;

			.img-wrapper {
				width: 170px;
				height: auto;
				margin: 300px auto 0;
				text-align: center;

				img {
					max-width: 100%;
					height: auto;
				}
			}

			.slogan {
				width: 700px;
				margin: 90px auto 60px;
				text-align: center;
				color: #313131;
				font: 700 24px / 26px $Arial;
				letter-spacing: 2px;
				@include border-box;

				.for-slogan {
					overflow: hidden;
					.edit-title {
						display: inline-block;
					}
					.title {
						display: inline-block;
						span {
							display: block;
							text-transform: uppercase;
						}
					}

				}

				.for-slogan-sign {
					p {
						display: inline-block;
					}
					.edit-title {
						display: inline-block;
					}
				}				
			}
		}
	}
	/*------------------------*/
	/*services section*/
	.services-section {
		padding: 0 0 40px 0;
		position: relative;

		&.page-of-products {
			background-image: url("../images/product-bg.jpg");
		}
		.special-offers-section {
			.title-block {
				padding: 10px 0;
			}
		}
		.list-of-qualities,
		.services-list {
			display: block;
		}

		.list-of-qualities {
			padding: 20px 0 21px;
			background-color: #f8f8f8;

			.qualities-list {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				max-width: 940px;
				margin: 0 auto;
				text-align: center;
				@include border-box;
				overflow: hidden;

				li {
					display: inline-block;

					&:first-child {
						margin: 0 0 0 13px;
					}

					&:nth-child(2) {
						margin: 0 26px 0 23px;

						img {
							margin: 0 18px 0 8px;
						}
					}

					&:nth-child(3) {
						img {
							margin: 0 18px 0 8px;
						}

						.qualities-title {
							margin: 3px 3px 0 0;
						}
					}

					img {
						float: left;
						// margin: 0 24px 0 0;
						margin: 0 24px 0 8px;
					}

					.qualities-title {
						float: left;
						margin: 3px 0 0;
						color: #535353;
						font: 700 24px / 27px $Arial;
						letter-spacing: 1px;
					}
				}
			}
		}


		.special-offers-section {

			.title-block {
				.title {
					padding: 14px 0;
				}
			}

			.special-offers-slider {
				display: none;
			}
			.special-offers-desctop {
				display: block;

				.special-offers-list {
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -moz-flex;
					display: -webkit-flex;
					-webkit-flex-wrap: wrap;
					flex-wrap: wrap;
					display: flex;
					justify-content: space-between;
					margin: 58px auto 0;
					padding-left: 23px;
					text-align: center;
					@include border-box;
					overflow: hidden;

					li {
						position: relative;
						margin: 0 0 15px 0;
						@include transition;


						.img-wrapper {
							width: 313px;
							height: 420px;
							position: relative;
							overflow: hidden;

							.edit-big {
								position: absolute;
								top: 10px;
								right: 15px;
								z-index: 2;
							}

							& > img {
								width: auto;
								height: 100%;
								display: block;
								margin: 0 auto;
								text-align: center;
							}


							.item-title {
								width: 100%;
								position: absolute;
								left: 0;
								bottom: 0;
								padding: 12px 1px 14px;
								background: rgba(0, 0, 0, 0.6);
								text-align: center;
								margin: 0 auto;
								color: white;
								font: 700 17px / 18px $Arial;
								letter-spacing: 1px;
							}
						}

						.price-block {
							margin: 0 auto;
							padding: 12px 0 9px;
							text-align: center;
							background: #979797;
							color: #fff;
							font-family: "Arial", sans-serif;
							font-weight: 400;

							.dollar,
							.sub-price {
								font-size: 16px;
							}

							.main-price {
								font-size: 22px;
							}
						}
					}
				}

				.more-btn {
					display: block;
					margin: 25px auto 0;
					text-align: center;
					color: #ffbd97;
					font: 700 18px / 22px $Arial;
					text-transform: uppercase;
				}
			}
		}
	}
	/*------------------------*/
	/*services section*/
	.preffoter-section {
		.welcome-title {
			margin: 40px auto 30px;
		}

		.for-seo-toolbar {
			text-align: center;
			margin: 20px 0 0 0;

			.box-border {
				overflow: hidden;
				margin: 60px auto 40px;
				padding: 0 0 10px;
			}
			.seo-toolbar-title {
				display: inline-block;

			}
			.seo-toolbar-list {
				display: inline-block;
				li {
					margin: 0 10px;
				}
			}
		}
		.position-block {
			display: block;
			padding: 0 0 40px 0;

			.navigations-menu-block {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;;
			}

			.footer-main-menu,
			.footer-services-menu {
				.block-title {
					position: relative;
					padding-bottom: 20px;
					text-align: left;

					&:after {
						content: "";
						position: absolute;
						bottom: 0;
						width: 65px;
						height: 2px;
						background: #969696;
					}
				}
			}
			.footer-main-menu,
			.footer-services-menu {

				.block-title {
					margin: 16px 0 14px;
					color: #d0d0d0;
					font: 400 22px / 25px $Arial;
					&:after {
						left: 3px;
					}
				}

				li {
					text-align: left;
				}
			}

			.footer-main-menu,
			.footer-services-menu {
				display: block;

				.footer-main-menu-list,
				.footer-services-menu-list {
					li {
						a {
							color: #d0d0d0;
							font: 400 18px / 30px $Arial;

							&.menu-item-active {
								color: #c76666;
							}
						}
					}
				}

			}

			.footer-main-menu {
				width: 360px;
			}

			.footer-services-menu {
				width: 200px;
			}
			.question-form {
				width: 335px;

				#name,
				#email {
					margin: 0 0 10px 0;
					height: 25px;
				}

				#name {
					float: left;
					width: 113px;
				}

				#email {
					float: right;
					width: 212px;
				}

				#message-field {
					height: 77px;
				}

				#question-form {
					position: relative;

					#send-btn {
						position: absolute;
						right: 0;
						bottom: -15px;
					}
				}
			}

			.go-to-website-btn {
				float: right;
				margin: -25px 20px 0 0;
				padding: 5px 15px;
				color: #ffffff;
				font: 400 16px / 22px $Arial;
				border-radius: 4px;
				border: 1px solid #723b0b;
				background-image: linear-gradient(to top, #b54209 0%, #f36e16 100%);
			}
		}
	}
	/*------------------------*/
	/*footer*/
	footer {
		.copyright {
			padding: 3px 0;

			.copyright-sign {
				font-size: 15px;
			}
		}
	}
	/*------------------------*/

	/*polices page*/


	.type-nav-polices {
		height: auto;
		overflow: visible;

		.full-img {
			height: 750px;
		}
		.desctop-services-menu {
			display: block;
		}
	}


	.polices-preffoter {
		.preffoter-content-bg {
			margin: 45px auto 55px;
			padding: 15px 5px 0;

			.title {
				margin: 25px 0 20px;
			}

			p {
				&.mobile {
					display: none;
				}

				&.desctop {
					display: block;
				}
				font-size: 20px;
				line-height: 24px;
			}
		}
	}
	/*------------------------*/
	/*all product page*/
	.type-nav-product-page {
		height: auto;
		overflow: visible;
		.full-img {
			.full-width-img {
				top: 39%;
			}
		}
		.under-content {
			display: block;
		}
	}
	/*------------------------*/

	/*polices page*/


	.type-nav-about-page,
	.type-nav-polices {
		height: auto;
		overflow: visible;

		.full-img {
			height: 750px;
			.full-width-img {
				top: 30%;
			}
		}
		.desctop-services-menu {
			display: block;
		}
	}

	.about-page-preffoter {
		.preffoter-content-bg {
			margin: 45px auto 55px;
			padding: 25px 5px 30px;

			p {
				font-size: 20px;
				line-height: 24px;	
			}
		}
	}
	/*------------------------*/
	/*About page*/
	.about-page-preffoter {
		.preffoter-content-bg {
			.mobile {
				display: none;
			}

			.desctop {
				display: block;
			}
			.about-slider {
				max-width: 927px;
				width: 927px;
				height: 579px;

				.prev-btn,
				.next-btn {
					width: 50px;
					height: 100%;
					img {
						display: block;
						width: 26px;
						height: 78px;
						margin: 250px 10px 0;
					}
				}

				.slick-slide {
					.slide-wrapper {
						width: 927px;
						height: 579px;

						.edit-img {
							right: 60px;
						}
					}
				}
			}
		}
	}
	/*------------------------*/
	/*single product page*/
	.single-product-page-preffoter {
		.preffoter-content-bg {
			margin: 43px auto 0;
			padding: 5px 0 6px;
			border-top: 3px solid #b3b3b3;
			border-bottom: 3px solid #b3b3b3;

			.for-product-name-title {
				width: 331px;
				float: right;

				.product-name {
					margin: 22px 0 0;
					text-align: left;
					letter-spacing: 1.2px;
					font-size: 24px;
					line-height: 28px;
				}
			}

			.description-product {
				.for-description {
					padding-bottom: 40px;
				}
			}

			.single-product-slider {
				width: 620px;
				overflow: hidden;
				margin: 8px 0 20px;

				#thumbnail-slider {
					margin: 0 10px 0 0;

					.inner {
						padding: 0;
						background: transparent;
					}
				}
				#ninja-slider {
					float: left;
					#ninja-slider-prev, 
					#ninja-slider-next {
						display: none;
					}
				}
			}

			.navigation {
				float: right;
				width: 370px;
				margin: -390px 0 0;

				.wrapper {
					padding: 0 0 0 15px;
				}

				.customize-nav {
					width: 330px;
					.price-block {
						width: 100%;
						-moz-box-ordinal-group: 1;
						-webkit-box-ordinal-group: 1;
						-webkit-order: 1;
						-ms-flex-order: 1;
						order: 1;
						margin: 0;
					}

					.size-number-block {
						width: 100%;
						-moz-box-ordinal-group: 2;
						-webkit-box-ordinal-group: 2;
						-webkit-order: 2;
						-ms-flex-order: 2;
						order: 2;

						.number {
							margin: 8px 0 11px;
							.counter {
								display: block;
								float: right;
								width: 75px;
								position: relative;
								margin: 10px 0 0;

								&:after {
									content: "";
									position: absolute;
									top: 0;
									right: -80px;
									width: 140px;
									height: 100%;
									z-index: 0;
									background: -prefix-linear-gradient(left, rgba(255,255,255,0.5),
										rgba(255,255,255,0.003));

									background: linear-gradient(to right, rgba(255,255,255,0.5),
										rgba(255,255,255,0.003));
									-webkit-filter: blur(20px);
									-moz-filter: blur(20px);
									-o-filter: blur(20px);
									-ms-filter: blur(20px);
									filter: blur(20px);

								} 

								.custom-content {
									position: relative;
									z-index: 2;
								}

								.minus,
								.plus {
									margin: 7px 0 0;
									cursor: pointer;
								}

								.minus {
									float: left;
								}
								#number-count {
									width: 40px;
									overflow: hidden;
									margin: 0 auto;
									text-align: center;
									background: transparent;
									border: none;

									color: #fff;
									font: 400 22px / 28px $Arial;
								}

								.plus {
									float: right;
								}
							}

							#quantiting-block {
								display: none;
							}
						}
					}
				}
			}

			.description-product {
				margin: 38px auto 0;

				.description-title {
					margin: 0 0 19px;
					letter-spacing: 1px;
				}

				p {
					letter-spacing: 0.3px;
					font-size: 20px;
				}
			}
		}
		.related-slider-block {

			.slider-title {
				margin: 23px auto 25px;
			}

			.related-product-slider {
				margin: 20px 0 20px 12px;
				.slider-item {
					.img-wrapper {
						width: 313px;
						height: 421px;

						.overflow-block {
							height: 89.5%;
							.card-block {
								a {
									right: 15px;
								}
							}
						}

						.item-title {
							font-size: 17px;
							letter-spacing: 1px;
							line-height: 20px;
							padding: 11px 0 14px;
						}
					}
					.price-block {
						padding: 11px 0 12px;
						.dollar,
						.sub-price {
							font-size: 16px;
						}

						.main-price {
							font-size: 20px;
						}
					}
				}
			}
			.more-button {
				display: block;
				margin: 18px auto 50px;
				text-align: center;
				color: #fff;
				font: 700 17px / 22px $Arial;
				text-transform: uppercase;
			}
		}
		.for-seo-toolbar {
			margin: 65px 0 0 0;
			padding: 40px 0 35px;
		}
	}
	/*------------------------*/
	/*single product page*/
	.type-nav-single-product-page {
		// height: 340px;
		height: auto;

		.full-img {
			.full-width-img {
				top: 45%;
			}
		}
		.under-content {
			.desctop-services-menu {
				display: block;
			}
		}
	}
	/*------------------------*/
	/*cart page*/
	.type-nav-cart {
		height: auto;
		overflow: visible;

		.full-img {
			height: 750px;

			.full-width-img {
				top: 35%;
			}
		}
		.under-content {
			display: block;
		}
	}
	.cart-preffoter {

		.product-item {
			overflow: hidden;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			display: flex;
			justify-content: space-between;


			li {
				max-height: 100%;
				float: left;

				.title {
					border: 0;
					border-bottom: 2px solid #fff;

					.head {
						font-size: 14px;
						line-height: 17px;
					}
				}

				.content {
					min-height: 60px;
					max-height: 60px;
				}
			}
			.product-number,
			.product-date,
			.product-name,
			.product-email {
				.title {
					width: 100%;
					float: initial;
				}
			}
			.product-number {
				width: 50px;
				text-align: center;
			}
			.product-date {
				width: 100px;
			}
			.product-name {
				width: 185px;
			}
			.product-email {
				width: 315px;
			}

			.product-quantity,
			.product-total-price,
			.product-pdf-file {
				.title {
					width: 100%;
					float: initial;
				}
			}
			.product-quantity {
				width: 100px;
				text-align: center;
			}
			
			.product-total-price {
				width: 120px;
				text-align: center;
			}
			.product-pdf-file {
				width: 110px;
				text-align: center;
			}
		}
	}
	/*------------------*/
	/*contact us page*/
	.type-nav-contact-us {
		height: auto;
		overflow: visible;

		.full-img {
			height: 750px;
			.full-width-img {
				top: 32%;
			}
		}
		.desctop-services-menu {
			display: block;
		}
	}
	/*------------------*/
	/*contact page */
	.contact-us-preffoter {
		.preffoter-content-bg {
			margin: 0 auto;

			.contact-block {
				margin: 40px 0 50px;

				.contact-row {
					margin: 20px auto;
					display: flex;

					.customize {
						order: 1;
						max-width: 95%;
						margin-right: 25px;
					}

					.edit-customize {
						order: 2;
					}
				}
			}

			.left-desctop {
				float: left;
				width: 100px;

				.social-block {
					margin: 0;
					.social-list {
						& > li {
							width: 100%;

							.first,
							.second {
								width: 100%;
							}
						}
					}
				}

				.map-address {
					display: none;
				}
			}

			.map-direction-block {
				display: none;
			}

			.mapWrapper {
				display: block;
				float: right;
				width: 745px;
				height: 415px;
				margin: 0 70px 45px 0;
				padding-bottom: 0;
				overflow: hidden;
				border: 1px solid rgba(0, 0, 0, 0.36);

				#mapWrapper {
					min-height: 475px;
				}

				.edit-map {
					position: absolute;
					top: 20px;
					right: 20px;
					z-index: 3;
				}
			}
			.for-seo-toolbar {
				clear: both;	
			}

			.position-block {
				padding: 0;
				position: relative;
				width: 100%;
				left: 0;
				bottom: 0;
				padding-bottom: 40px;
				z-index: 99999999;

				.question-form {
					#name, 
					#email,
					#message-field {
						background: rgba(255, 255, 255, 0.3);
					}
				}
			}
		}
	}
	/*-----------------*/
	.preffoter-section {
		p {
			max-width: 950px;
		}
	}
}

@media (min-width: 1200px) {
	.preffoter-section {
		.position-block {
			.mobile-block {
				#go-top {
					right: 13%;
				}
			}
		}
	}
	.type-nav-single-product-page {
		.full-img {
			// height: 1520px;
			height: 1790px;
			.full-width-img {
				display: block;
				top: 42%;
			}
		}
	}

	.services-section {
		.services-list {
			.list {
				li {
					.img-wrapper {
						width: 340px;
						height: 509px;
						overflow: hidden;
					}

					.black-bg {
						.title {
							font-size: 40px;
							line-height: 40px;
						}
					}

					.hover-block {
						width: 80%;
						.title {
							font-size: 40px;
							line-height: 40px;
						}
					}
				}
			}
		}
		.special-offers-section {
			.special-offers-desctop {
				.special-offers-list {
					li {
						margin: 0 0 20px 0;
					}
				}
			}
		}
	}
}



@media (min-width: 1440px) {
	.preffoter-section {
		.position-block {
			.mobile-block {
				#go-top {
					right: 15%;
				}
			}
		}
	}
	.type-nav {
		.full-img {
			// height: 1200px;
		}
	}
	.type-nav-cart {
		height: 206px;
		overflow: visible;

		.full-img {
			height: 800px;
		}
	}

	.type-nav-single-product-page {
		.full-img {
			height: 1600px;
		}
	}

}

@media (min-width: 1680px) {
	.services-section {
		.services-list {
			.list {
				width: 1580px;
				overflow: initial;
				li {
					width: 392px;
					height: 508px;

					.img-wrapper {
						width: 392px;
						height: 508px;
					}
				}
			}
		}
	}

	.type-nav {
		&.type-nav-home-page {
			.full-img {
				height: 1500px;
				&.home-brand {
				// margin-top: -250px;
			}
		}
	}
}

.preffoter-section {
	.position-block {
		.mobile-block {
			#go-top {
				right: 23.5%;
			}
		}
	}
}
.type-nav-cart {
	height: 206px;
	overflow: visible;

	.full-img {
		height: 800px;
	}
}
.type-nav-single-product-page {
	.full-img {
		height: 2200px;
	}
}
}
@media (min-width: 1920px) {
	.type-nav-home-page {
		max-height: 850px;
		.desctop-block {
			.img-wrapper {
				margin: 550px auto 0;
			}
		}
	}
	.full-img {
		&.home-brand {
			.full-width-img {
				top: 50%;
			}
		}
	}
	.type-nav-single-product-page {
		.full-img {
			.full-width-img {
				top: 40%;
			}
		}
	}
	.type-nav-product-page {
		.full-img {
			height: 1300px;
			.full-width-img {
				top: 37%;
			}
		}
	}

	.type-nav-contact-us {
		.full-img {
			height: 1300px;
			.full-width-img {
				top: 20%;
			}
		}
	}
}
@media (min-width: 2000px) {
	.type-nav-single-product-page {
		.full-img {
			height: 2500px;
		}
	}
}