.type-nav-polices {
	height: auto;
	overflow: hidden;
	.full-img {
		height: 280px;
	}
	.desctop-services-menu {
		display: none;
	}
}
.services-section{
	&.services-section-polices {
		border: none;
		padding: 0;
	}
}

.polices-preffoter {
	background-image: url("../images/policy-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.preffoter-content-bg {
		max-width: 930px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		padding-bottom: 35px;

		.for-policy-title {

			.title {
				display: inline-block;
				margin: 20px 0 15px;
				color: #000000;
				font: 400 25px / 27px $Arial;
			}
			.edit-title {
				display: inline-block;
				margin: 0 0 0 10px;
			}
		}
		.for-policy-desciption {
			overflow: hidden;
			.edit-description {
				float: right;
			}	
			p {
				clear: both;
				margin: 0 0 15px 0;
				text-align: justify;
				color: #000000;
				font: 400 18px / 22px $Arial;
			}
		}
	}
}